<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--<context:annotation-config />-->
    <dubbo:application name="consumer" />
    <dubbo:registry protocol="zookeeper" address="10.32.24.231:2181,10.32.24.232:2181,10.32.24.233:2181" />


    <dubbo:reference interface="com.kubbo.future.simple.api.Test1" id="test1" timeout="10000"/>
    <dubbo:reference interface="com.kubbo.future.simple.api.Test2" id="test2" timeout="10000"/>
    <dubbo:reference interface="com.kubbo.future.simple.api.Test3" id="test3" timeout="10000"/>
</beans>